<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>가입하기</h1>
    <form action="/users/signup" method="post">
        <!-- name에 설정한 대로 넘어옴 -->
        <input type="text" name="email">
        <br><br>
        <input type="password" name="password" id="">
        <br><br>
        <input type="submit" value="전송하기">
    </form>
    <!-- 글 제목 -->
</body>
</html>

<!-- 글의 제목이 뜨고 제목을 클릭했을 때 본문 내용으로 이동 -->