<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog 실습</h1>
    <br><br>
    <a href="/blog/write">글쓰기</a>
    <p>글 내용들</p>
    <!-- localhost:3000/blog/write -->
    <% for(let i = 0; i < content.length; i++) { %>
        <a href="/blog/read/<%=content[i].no %>"><%=content[i].title %></a>
        <!-- 변수 할당 -->
        <br><br>
    <% } %>
    <!-- ejs에서 문법을 사용할 때 사용 -->
</body>
</html>